FORMAT: 1A
HOST: https://api.txerpa.com/v1

# Txerpa API v1
This describes the resources that make up the official Txerpa API v1. If you have any problems or requests please contact support.


NOTE: This document is a **work in progress**.


## Schema
All API access is over HTTPS, and accessed from the `https://api.txerpa.com`. All data is sent and received as JSON following JSON API specification where possible. We strongly encourage you to read the [complet specification](http://jsonapi.org/format/) 

**TO-DO: completar descripción**

Blank fields are included as `null` instead of being omitted.

All timestamps return in the following format: `DD-MM-YYYY HH:MM:SS`

## Parameters
Many API methods take optional parameters. For GET requests, any parameters not specified as a segment in the path can be passed as an HTTP query string parameter:

```
 
 curl -i 'https://api.txerpa.com/v1/accounting/entries/1/records?estado=asentado'
  
```

In this example, the '1' value is provided for the `:entry_pk` parameter in the path while `:state` is passed in the query string.

## Root Endpoint
**DISABLED**

```
  
 curl -i https://api.txerpa.com/v1
  
```

## Client Errors
**TO-DO**

## HTTP Verbs
Where possible, API v1 strives to use appropriate HTTP verbs for each action.

| Verb | Description |
| --- | --- |
| HEAD | Can be issued against any resource to get just the HTTP header info. |
| GET | Used for retrieving resources. |
| POST | Used for creating resources. |
| PATCH | Used for updating **any** or **all** of a resource’s attributes. |
| DELETE | Used for deleting resources. |


## Authentication
There is only one way to authenticate through Txerpa API v1. Requests that require authentication will return `401 Unauthorized` if authentication credentials were not provided or invalid credentials.

### JWT Token

```
  
 curl -H "Authorization: JWT JWT-TOKEN"  -i https://api.txerpa.com/v1
  
```

Read more about [JWT](https://jwt.io/) or you can view [detailed endpoints](#reference/authentication/auth)

## Pagination
Requests that return multiple items will be paginated to 10 items by default. You can specify further pages with the `?page` parameter. For some resources, you can also set a custom page size up to 100 with the `?page_size` parameter.

```
 
 curl -H "Authorization: JWT JWT-TOKEN" -i 'https://api.txerpa.com/v1/accounting/entries?page=2&page_size=50'
  
```

Note that page numbering is 1-based and that omitting the `?page` parameter will return the first page.

## Rate Limiting
**TO-DO**

## Conditional requests
**TO-DO**

## Cross Origin Resource Sharing
The API supports Cross Origin Resource Sharing (CORS) for AJAX requests from any origin. You can read the [CORS W3C Recommendation](https://www.w3.org/TR/cors/), or [this intro](https://code.google.com/archive/p/html5security/wikis/CrossOriginRequestSecurity.wiki) from the HTML 5 Security Guide.

Here's a sample request sent from a browser hitting `http://example.com`:

```
 
 curl -i https://api.txerpa.com -H "Origin: http://example.com" -H "Authorization: JWT JWT-TOKEN"
 HTTP/1.0 200 OK
 Access-Control-Allow-Origin: *
 Access-Control-Expose-Headers: Content-Disposition
 
```

This is what the CORS preflight request looks like:

```
 
 curl -i https://api.txerpa.com -H "Origin: http://example.com" -H "Authorization: JWT JWT-TOKEN"
 HTTP/1.0 200 OK
 Access-Control-Allow-Origin: *
 Access-Control-Allow-Headers: accept, accept-encoding, authorization, content-type, dnt, origin, user-agent, x-csrftoken, x-requested-with
 Access-Control-Expose-Headers: Content-Disposition
 Access-Control-Allow-Methods: DELETE, GET, OPTIONS, PATCH, POST, PUT
 Access-Control-Expose-Headers: Content-Disposition
 Access-Control-Max-Age: 86400
 
```

# Group Authentication
Authentication in Txerpa is based in JSON Web Token (JWT), is a statless API, so a token is created
and it allows to make petitions for a limited time (by default 300s).

There's a general API where the token can be obtained, each token defines the tenant where the querys
will be made.


# Auth [/auth/{client_id}]
Use the `/auth` resource to create an JWT access token. You can also refresh it.

## Create [POST]
+ Parameters
    + client_id ... API client id.
    
+ Attributes
    + username (required)
    + password (required)

+ Request (application/vnd.api+json)

    + Body

            {
                "data": {
                    "type": "obtain_json_web_token",
                    "attributes": {
                        "username": "mateu",
                        "password": "secret"
                    }
                }
            }
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTMzODU3MDQsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5MzM4NjAwNH0.JRRKWSfAPm74TgkfmwZYUE3D4janoxesiG2nhC9WBz4"
                }
            }

## Refresh [POST /auth/refresh]

+ Attributes
    + token (required) - Token to be refreshed
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "refresh_json_web_token",
                    "attributes": {
                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODczMDgsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzYwOH0.FMBAhM4lCwPYewgXdKJcO6kuswZZMsqKT4rA21JmuAg"
                    }
                }
            }
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTMzODU3MDQsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5MzM4NjAwNH0.JRRKWSfAPm74TgkfmwZYUE3D4janoxesiG2nhC9WBz4"
                }
            }


# Group Accounting
Accounting is one of the core features of Txerpa. Is a simple yet powerfull application for
spanish business bookeeping. Is a double entry accounting, with a predefined chart of accounts

There are two main models accounts and entrys. Every move is posted as a entry record wich
references to the account and 

# Accounts [/accounting/accounts{?page,page_size,tipo,active,search,ordering}]
An entity representing each of the accounts of a chart of accounts. The main data of the
account are the code (codigo) and type (tipo). The type of an account automatates
some behauvior when posting an entry on that account.
The spanish chart of accounts is well defined and each Txerpa tenant has a chart created
on sign up. 

The length of an account code can be variable, being the minimum 6 and the max 20.
All accounts must have the same length, wich is defined at the creation of the chart.

+ Attributes (Account)

## List [GET]

+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.

    + tipo (optional) ... Filter by tipo field.
    
    + active (boolean, optional) ... Filter by active periods.

    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
        
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/accounts?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/accounts?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "account",
                            "id": "5",
                            "attributes":{
                                "name": "Capital social",
                                "codigo": "1000000000",
                                "descripcion": null,
                                "tipo": "financiacion"
                            }
                        },
                        {
                            "type": "account",
                            "id": "7",
                            "attributes":{
                                "name": "Fondo social",
                                "codigo": "1010000000",
                                "descripcion": null,
                                "tipo": "financiacion"
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":2
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "account",
                    "attributes": {
                        "name": "Capital",
                        "codigo": "1020000000",
                        "tipo": "financiacion"
                    }
                }
            }
            
            
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    {
                        "type": "account",
                         "id": "9",
                        "attributes":{
                            "name": "Capital",
                            "codigo": "1020000000",
                            "descripcion": null,
                            "tipo": "financiacion"
                        }
                    }
                }
            }

## Retrive [GET /accounting/accounts/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this account

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    {
                        "type": "account",
                        "id": "9",
                        "attributes":{
                            "name": "Capital",
                            "codigo": "1020000000",
                            "descripcion": null,
                            "tipo": "financiacion"
                        }
                    }
                }
            }

## Update [PATCH /accounting/accounts/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this account

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "account",
                    "id": "9",
                    "attributes":{
                        "descripcion": "new description"
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    {
                        "type": "account",
                        "id": "9",
                        "attributes":{
                            "name": "Capital",
                            "codigo": "1020000000",
                            "descripcion": "new description",
                            "tipo": "financiacion"
                        }
                    }
                }
            }

## Delete [DELETE /accounting/accounts/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this account

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204


# Account Categories [/accounting/account_categories{?page,page_size,search,ordering}]

**TO-DO** Descripció Accounting API

+ Attributes (Account Category)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.
    
    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.
      
    + ordering (optional) ... Which field to use when ordering the results.
        
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/account_categories?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/account_categories?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "account_category",
                            "id": "1",
                            "attributes": {
                                "nombre": "Alquileres",
                                "descripcion": "Arrendamientos y cánones"
                            },
                            "relationships": {
                                "cuenta": {
                                    "data": {
                                        "type": "account",
                                        "id": "899"
                                    }
                                }
                            }
                        },
                        {
                            "type": "account_category",
                            "id": "2",
                            "attributes": {
                                "nombre": "Reparaciones",
                                "descripcion": "Reparaciones y conservación"
                            },
                            "relationships": {
                                "cuenta": {
                                    "data": {
                                        "type": "account",
                                        "id": "901"
                                    }
                                }
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":2
                        }
                    }
                }


## Retrive [GET /accounting/account_categories/{id}]

+ Parameters
    + id (required, number) ... A unique integer value identifying this account category

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    {
                        "type": "account_category",
                        "id": "1",
                        "attributes": {
                            "nombre": "Alquileres",
                            "descripcion": "Arrendamientos y cánones"
                        },
                        "relationships": {
                            "cuenta": {
                                "data": {
                                    "type": "account",
                                    "id": "899"
                                }
                            }
                        }
                    }
                }
            }

# Entries [/accounting/entries{?page,page_size,libro,estado,fecha__gte,fecha__lte,search,ordering}]
**TO-DO** Descripció Entries

+ Attributes (Entry)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + libro (optional) ... Filter by *libro* field using equal comparison.

    + estado (optional) ... Filter by *estado* field using equal comparison.

    + fecha__gte (optional) ... Filter by *fecha* field using greater or equal comparison.
    
    + fecha__lte (optional) ... Filter by *fecha* field using less or equal comparison.

    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/entries?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/entries?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "entry",
                            "id": "1",
                            "attributes":{
                                "name": "Invoice [1]",
                                "numero": 1,
                                "fecha": "12-12-2016",
                                "estado": "asentado"
                            },
                            "relationships": {
                                "libro": {
                                    "data": {
                                        "type": "journal",
                                        "id": "1"
                                    }
                                },
                                "periodo": {
                                    "data": {
                                        "type": "accounting_period",
                                        "id": "1"
                                    }
                                }
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":1
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "entry",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "12-12-2016"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }
            
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "12-12-2016",
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }

## Retrive [GET /accounting/entries/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "12-12-2016",
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }

## Update [PATCH /accounting/entries/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "fecha": "16-12-2017"
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "16-12-2016",
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }

## Delete [DELETE /accounting/entries/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204

## Validate Entry [POST /accounting/entries/{id}/validations]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 201 (application/vnd.api+json)

    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "16-12-2016",
                        "estado": "asentado"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }      

## Unvalidate Entry [DELETE /accounting/entries/{id}/validations]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry

+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 201 (application/vnd.api+json)

    + Body
    
            {
                "data": {
                    "type": "entry",
                    "id": "2",
                    "attributes": {
                        "name": "Invoice [2]",
                        "numero": 2,
                        "fecha": "16-12-2016",
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "1"
                            }
                        }
                    }
                }
            }     

 
# Entry Records [/accounting/entries/{entry_id}/records{?page,page_size,search,ordering}]
**TO-DO** Descripció Entry Records

+ Parameters
    + entry_id (required, number) ... A unique integer value identifying this record entry parent
    
+ Attributes (Entry Record)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links": {
                       "first": "https://api.txerpa.com/v1/accounting/entries/1/records?page=1",
                       "last": "https://api.txerpa.com/v1/accounting/entries/1/records?page=1",
                       "next": null,
                       "prev": null
                    },
                    "data": [
                        {
                            "type": "entry_record",
                            "id": "1",
                            "attributes":{
                                "name": "venta(1):W16/00000001",
                                "debe": "0.000000",
                                "haber": "25.640000",
                                "fecha": "12-12-2016",
                                "recc": false,
                                "estado": "asentado"
                            },
                            "relationships": {
                                "analytical_lines": {
                                    "data": []
                                },
                                "cuenta": {
                                    "data": {
                                        "type": "account",
                                        "id": "1"
                                    }
                                },
                                "partner": {
                                    "data": {
                                        "type": "partner",
                                        "id": "1"
                                    }
                                },
                                "asiento": {
                                    "data": {
                                        "type": "entry",
                                        "id": "1"
                                    }
                                },
                                "conciliacion": {
                                    "data": null
                                }
                            }
                        }
                    ],
                    "meta": {
                        "pagination": {
                            "page": 1,
                            "pages": 1,
                            "count": 1
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "entry_record",
                    "attributes":{
                        "name": "Cobro W16/00000001",
                        "debe": "25.640000",
                        "haber": "0.000000",
                        "fecha": "12-12-2016"
                    },
                    "relationships": {
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "1"
                            }
                        },
                        "partner": {
                            "data": {
                                "type": "partner",
                                "id": "1"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        }
                    }
                }
            }
            
+ Response 201 (application/vnd.api+json)
    + Body
    
                {
                    "data": {
                        "type": "entry_record",
                        "id": "2",
                        "attributes":{
                            "name": "Cobro W16/00000001",
                            "debe": "25.640000",
                            "haber": "0.000000",
                            "fecha": "12-12-2016",
                            "recc": false,
                            "estado": "borrador"
                        },
                        "relationships": {
                            "analytical_lines": {
                                "data": []
                            },
                            "cuenta": {
                                "data": {
                                    "type": "account",
                                    "id": "1"
                                }
                            },
                            "partner": {
                                "data": {
                                    "type": "partner",
                                    "id": "1"
                                }
                            },
                            "asiento": {
                                "data": {
                                    "type": "entry",
                                    "id": "1"
                                }
                            },
                            "conciliacion": {
                                "data": null
                            }
                        }
                    }
                }

## Retrive [GET /accounting/entries/{entry_id}/records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry record

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry_record",
                    "id": "2",
                    "attributes":{
                        "name": "Cobro W16/00000001",
                        "debe": "25.640000",
                        "haber": "0.000000",
                        "fecha": "12-12-2016",
                        "recc": false,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "analytical_lines": {
                            "data": []
                        },
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "1"
                            }
                        },
                        "partner": {
                            "data": {
                                "type": "partner",
                                "id": "1"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        },
                        "conciliacion": {
                            "data": null
                        }
                    }
                }
            }

## Update [PATCH /accounting/entries/{entry_id}/records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry record

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "entry_record",
                    "id": "2",
                    "relationships": {
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "2"
                                "attributes": {
                                    "fecha": "15-12-2016"
                                }
                            }
                        }
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry_record",
                    "id": "2",
                    "attributes":{
                        "name": "Cobro W16/00000001",
                        "debe": "25.640000",
                        "haber": "0.000000",
                        "fecha": "15-12-2016",
                        "recc": false,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "analytical_lines": {
                            "data": []
                        },
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "2"
                            }
                        },
                        "partner": {
                            "data": {
                                "type": "partner",
                                "id": "1"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        },
                        "conciliacion": {
                            "data": null
                        }
                    }
                }
            }

## Delete [DELETE /accounting/entries/{entry_id}/records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this entry record

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204

# Tax Entry Records [/accounting/entries/{entry_id}/tax_records{?page,page_size,search,ordering}]
**TO-DO** Descripció Tax Entry Records


+ Parameters
    + entry_id (number, required) ... A unique integer value identifying parent entry

+ Attributes (Tax Entry Record)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.

    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body

            {
               "links":{
                   "first":"https://api.txerpa.com/v1/accounting/entries/1/tax_records?page=1",
                   "last":"https://api.txerpa.com/v1/accounting/entries/1/tax_records?page=1",
                   "next":null,
                   "prev":null
                },
                "data":[
                    {
                        "type": "tax_entry_record",
                        "id": "1",
                        "attributes":{
                            "name": "IVA 21% Factura",
                            "base": "29.700000",
                            "cuota": "6.240000",
                            "state": "valido"
                        },
                        "relationships": {
                            "impuesto": {
                                "data": {
                                    "type": "tax",
                                    "id": "8"
                                }
                            },
                            "tercero": {
                                "data": {
                                    "type": "partner",
                                    "id": "1"
                                }
                            },
                            "periodo": {
                                "data": null
                            },
                            "liquidacion": {
                                "data": null
                            },
                        }
                    }
                ],
                "meta":{
                    "pagination":{
                        "page":1,
                        "pages":1,
                        "count":2
                    }
                }
            }


## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "entry_tax_record",
                    "attributes":{
                        "name": "IVA 21% Factura",
                        "base": "29.700000",
                        "cuota": "6.240000"
                    },
                    "relationships": {
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "1"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        },
                        "impuesto": {
                            "data": {
                                "type": "tax",
                                "id": "8"
                            }
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "12"
                            }
                        }
                    }
                }
            }
    
+ Response 201 (application/vnd.api+json)
    + Body
    
                {
                    "data": {
                        "type": "entry_tax_record",
                        "id": "1",
                        "attributes":{
                            "name": "IVA 21% Factura",
                            "base": "29.700000",
                            "cuota": "6.240000",
                            "state": "borrador"
                        },
                        "relationships": {
                            "impuesto": {
                                "data": {
                                    "type": "tax",
                                    "id": "8"
                                }
                            },
                            "tercero": {
                                "data": null
                            },
                            "periodo": {
                                "data": {
                                    "type": "accounting_period",
                                    "id": "12"
                                }
                            },
                            "asiento": {
                                "data": {
                                    "type": "entry",
                                    "id": "1"
                                }
                            },
                            "liquidacion": {
                                "data": null
                            }
                        }
                    }
                }
                
                
## Retrive [GET /accounting/entries/{entry_id}/tax_records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this tax record entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry_tax_record",
                    "id": "1",
                    "attributes":{
                        "name": "IVA 21% Factura",
                        "base": "29.700000",
                        "cuota": "6.240000",
                        "state": "borrador"
                    },
                    "relationships": {
                        "impuesto": {
                            "data": {
                                "type": "tax",
                                "id": "8"
                            }
                        },
                        "tercero": {
                            "data": null
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "12"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        },
                        "liquidacion": {
                            "data": null
                        }
                    }
                }
            }


## Update [PATCH /accounting/entries/{entry_id}/tax_records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this tax record entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "entry_tax_record",
                    "id": "1",
                    "relationships": {
                        "cuenta": {
                            "data": {
                                "type": "account",
                                "id": "2"
                                "attributes": {
                                    "name": "IVA 21% Factura 1"
                                }
                            }
                        }
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "entry_tax_record",
                    "id": "1",
                    "attributes":{
                        "name": "IVA 21% Factura 1",
                        "base": "29.700000",
                        "cuota": "6.240000",
                        "state": "borrador"
                    },
                    "relationships": {
                        "impuesto": {
                            "data": {
                                "type": "tax",
                                "id": "8"
                            }
                        },
                        "tercero": {
                            "data": null
                        },
                        "periodo": {
                            "data": {
                                "type": "accounting_period",
                                "id": "12"
                            }
                        },
                        "asiento": {
                            "data": {
                                "type": "entry",
                                "id": "1"
                            }
                        },
                        "liquidacion": {
                            "data": null
                        }
                    }
                }
            }

## Delete [DELETE /accounting/entries/{entry_id}/records/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this tax record entry

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204


# Journals [/accounting/journals{?page,page_size,search,ordering}]
**TO-DO** Descripció Journals

+ Attributes (Journal)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/journals?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/journals?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "journal",
                            "id": "1",
                            "attributes": {
                                "name": "Libro diario"
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":1
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "journal",
                    "attributes": {
                        "name": "Libro"
                    }
                }
            }
            
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "journal",
                    "id": "2",
                    "attributes": {
                        "name": "Libro"
                    }
                }
            }

## Retrive [GET /accounting/journals/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this journal

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "journal",
                    "id": "1",
                    "attributes": {
                        "name": "Libro"
                    }
                }
            }

## Update [PATCH /accounting/journals/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this journal

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "journal",
                    "id": "2",
                    "attributes": {
                        "name": "Journal"
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "journal",
                    "id": "2",
                    "attributes": {
                        "name": "Journal"
                    }
                }
            }

## Delete [DELETE /accounting/journals/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this journal

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204


# Assets [/accounting/assets{?page,page_size,search,ordering}]
**TO-DO** Descripció Assets

+ Attributes (Asset)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/assets?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/assets?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "asset",
                            "id": "1",
                            "attributes": {
                                "name": "",
                                "fecha": "22-02-2017",
                                "fecha_venta": null,
                                "valor_inicial_currency": "EUR",
                                "valor_inicial": "624.13",
                                "valor_residual_currency": "EUR",
                                "valor_residual": "0.0",
                                "porcentaje_amortizacion": "26.00",
                                "t_amortizacion": null,
                                "intervalo": 3,
                                "estado": "borrador"
                            },
                            "relationships": {
                                "libro": {
                                    "data": {
                                        "type": "journal",
                                        "id": "1"
                                    }
                                },
                                "tipo": {
                                    "data": {
                                        "type": "asset_type",
                                        "id": "7"
                                    }
                                },
                                "factura": {
                                    "data": {
                                        "type": "invoice",
                                        "id": "86617"
                                    }
                                }
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":1
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "asset",
                    "attributes": {
                        "name": "Asset 1",
                        "fecha": "22-02-2017",
                        "valor_inicial": "500.40",
                        "valor_residual": "0",
                        "porcentaje_amortizacion": "26.00"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        }
                    }
                }
            }
            
+ Response 201 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "33",
                    "attributes": {
                        "name": "Asset 1",
                        "fecha": "22-02-2017",
                        "fecha_venta": null,
                        "valor_inicial_currency": "EUR",
                        "valor_inicial": 500.4,
                        "valor_residual_currency": "EUR",
                        "valor_residual": 0.0,
                        "porcentaje_amortizacion": "26.00",
                        "t_amortizacion": null,
                        "intervalo": 3,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        },
                        "factura": {
                            "data": null
                        }
                    }
                }
            }

## Retrive [GET /accounting/assets/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this asset

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "32",
                    "attributes": {
                        "name": "Componentes de PC",
                        "fecha": "27-03-2017",
                        "fecha_venta": null,
                        "valor_inicial_currency": "EUR",
                        "valor_inicial": "431.07",
                        "valor_residual_currency": "EUR",
                        "valor_residual": "0.0",
                        "porcentaje_amortizacion": "26.00",
                        "t_amortizacion": null,
                        "intervalo": 3,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        },
                        "factura": {
                            "data": {
                                "type": "invoice",
                                "id": "219547"
                            }
                        }
                    }
                }
            }

## Update [PATCH /accounting/assets/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this asset

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "33",
                    "attributes": {
                        "intervalo": "12"
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "32",
                    "attributes": {
                        "name": "Componentes de PC",
                        "fecha": "27-03-2017",
                        "fecha_venta": null,
                        "valor_inicial_currency": "EUR",
                        "valor_inicial": "431.07",
                        "valor_residual_currency": "EUR",
                        "valor_residual": "0.0",
                        "porcentaje_amortizacion": "26.00",
                        "t_amortizacion": null,
                        "intervalo": 12,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        },
                        "factura": {
                            "data": {
                                "type": "invoice",
                                "id": "219547"
                            }
                        }
                    }
                }
            }

## Delete [DELETE /accounting/assets/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this asset

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204


## Validate Asset [POST /accounting/assets/{id}/validations]

+ Parameters
    + id (number, required) ... A unique integer value identifying this asset
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 201 (application/vnd.api+json)

    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "34",
                    "attributes": {
                        "name": "Asset 1",
                        "fecha": "22-02-2017",
                        "fecha_venta": null,
                        "valor_inicial_currency": "EUR",
                        "valor_inicial": 500.4,
                        "valor_residual_currency": "EUR",
                        "valor_residual": 0.0,
                        "porcentaje_amortizacion": "26.00",
                        "t_amortizacion": null,
                        "intervalo": 3,
                        "estado": "proceso"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        },
                        "factura": {
                            "data": null
                        }
                    }
                }
            } 

## Unvalidate Asset [DELETE /accounting/assets/{id}/validations]

+ Parameters
    + id (number, required) ... A unique integer value identifying this asset
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 201 (application/vnd.api+json)

    + Body
    
            {
                "data": {
                    "type": "asset",
                    "id": "34",
                    "attributes": {
                        "name": "Asset 1",
                        "fecha": "22-02-2017",
                        "fecha_venta": null,
                        "valor_inicial_currency": "EUR",
                        "valor_inicial": 500.4,
                        "valor_residual_currency": "EUR",
                        "valor_residual": 0.0,
                        "porcentaje_amortizacion": "26.00",
                        "t_amortizacion": null,
                        "intervalo": 3,
                        "estado": "borrador"
                    },
                    "relationships": {
                        "libro": {
                            "data": {
                                "type": "journal",
                                "id": "1"
                            }
                        },
                        "tipo": {
                            "data": {
                                "type": "asset_type",
                                "id": "7"
                            }
                        },
                        "factura": {
                            "data": null
                        }
                    }
                }
            } 
            
# Amortizations [/accounting/assets/{asset_id}/amortizations{?page,page_size,search,ordering}]
**TO-DO** Descripció Amortizations

+ Parameters
    + asset_id (required, number) ... A unique integer value identifying this asset amortization parent
    
+ Attributes (Amortization)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links": {
                       "first": "https://api.txerpa.com/v1/accounting/assets/1/amortizations?page=1",
                       "last": "https://api.txerpa.com/v1/accounting/assets/1/amortizations?page=1",
                       "next": null,
                       "prev": null
                    },
                    "data": [
                        {
                            "type": "amortization",
                            "id": "289",
                            "attributes": {
                                "name": "Amortization 3",
                                "fecha": "22-05-2017",
                                "cantidad_currency": "EUR",
                                "cantidad": 100.0,
                                "state": "borrador"
                            },
                            "relationships": {
                                "activo": {
                                    "data": {
                                        "type": "asset",
                                        "id": "39"
                                    }
                                }
                            }
                        },
                        {
                            "type": "amortization",
                            "id": "288",
                            "attributes": {
                                "name": "Amortization 2",
                                "fecha": "22-08-2017",
                                "cantidad_currency": "EUR",
                                "cantidad": 100.0,
                                "state": "borrador"
                            },
                            "relationships": {
                                "activo": {
                                    "data": {
                                        "type": "asset",
                                        "id": "39"
                                    }
                                }
                            }
                        },
                        {
                            "type": "amortization",
                            "id": "287",
                            "attributes": {
                                "name": "Amortization 1",
                                "fecha": "22-12-2017",
                                "cantidad_currency": "EUR",
                                "cantidad": 100.0,
                                "state": "borrador"
                            },
                            "relationships": {
                                "activo": {
                                    "data": {
                                        "type": "asset",
                                        "id": "39"
                                    }
                                }
                            }
                        }
                    ],
                    "meta": {
                        "pagination": {
                            "page": 1,
                            "pages": 1,
                            "count": 3
                        }
                    }
                }

## Create [POST]

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body

            {
                "data": {
                    "type": "amortization",
                    "attributes": {
                        "name": "Amortization 1",
                        "fecha": "22-05-2017",
                        "cantidad": "100"
                    },
                    "relationships": {
                        "activo": {
                            "data": {
                                "type": "asset",
                                "id": "39"
                            }
                        }
                    }
                }
            }
            
+ Response 201 (application/vnd.api+json)
    + Body
    
                {
                    "data": {
                        "type": "amortization",
                        "id": "287",
                        "attributes": {
                            "name": "Amortization 1",
                            "fecha": "22-05-2017",
                            "cantidad_currency": "EUR",
                            "cantidad": 100.0,
                            "state": "borrador"
                        },
                        "relationships": {
                            "activo": {
                                "data": {
                                    "type": "asset",
                                    "id": "39"
                                }
                            }
                        }
                    }
                }

## Retrive [GET /accounting/assets/{asset_id}/amortizations/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this amortization

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "amortization",
                    "id": "287",
                    "attributes": {
                        "name": "Amortization 1",
                        "fecha": "22-05-2017",
                        "cantidad_currency": "EUR",
                        "cantidad": 100.0,
                        "state": "borrador"
                    },
                    "relationships": {
                        "activo": {
                            "data": {
                                "type": "asset",
                                "id": "39"
                            }
                        }
                    }
                }
            }

## Update [PATCH /accounting/assets/{asset_id}/amortizations/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this amortization

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

    + Body
    
            {
                "data": {
                    "type": "amortization",
                    "id": "287",
                    "attributes": {
                        "cantidad": 110.0
                    }
                }
            }
            
+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "amortization",
                    "id": "287",
                    "attributes": {
                        "name": "Amortization 1",
                        "fecha": "22-05-2017",
                        "cantidad_currency": "EUR",
                        "cantidad": 110.0,
                        "state": "borrador"
                    },
                    "relationships": {
                        "activo": {
                            "data": {
                                "type": "asset",
                                "id": "39"
                            }
                        }
                    }
                }
            }

## Delete [DELETE /accounting/assets/{asset_id}/amortizations/{id}]

+ Parameters
    + id (number, required) ... A unique integer value identifying this amortization

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 204

## Annotate Amortization [POST /accounting/assets/{asset_id}/amortizations/{id}/annotations]

+ Parameters
    + id (number, required) ... A unique integer value identifying this amortization
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 201 (application/vnd.api+json)

    + Body
    
            {
                "data": {
                    "type": "amortization",
                    "id": "287",
                    "attributes": {
                        "name": "Amortization 1",
                        "fecha": "22-05-2017",
                        "cantidad_currency": "EUR",
                        "cantidad": 110.0,
                        "state": "contabilizado"
                    },
                    "relationships": {
                        "activo": {
                            "data": {
                                "type": "asset",
                                "id": "39"
                            }
                        }
                    }
                }
            }
            
# Asset Types [/accounting/asset_types{?page,page_size,search,ordering}]

**TO-DO** Descripció Asset Types

+ Attributes (Asset Type)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.
    
    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.
      
    + ordering (optional) ... Which field to use when ordering the results.
        
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/asset_types?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/asset_types?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "asset_type",
                            "id": "7",
                            "attributes": {
                                "name": "Equipos para procesos de información",
                                "porcentaje": "26.00"
                            },
                            "relationships": {
                                "cuenta_activo": {
                                    "data": {
                                        "type": "cuenta",
                                        "id": "193"
                                    }
                                },
                                "cuenta_amortizacion": {
                                    "data": {
                                        "type": "cuenta",
                                        "id": "295"
                                    }
                                },
                                "cuenta_gasto": {
                                    "data": {
                                        "type": "cuenta",
                                        "id": "1078"
                                    }
                                }
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":1
                        }
                    }
                }


## Retrive [GET /accounting/asset_types/{id}]

+ Parameters
    + id (required, number) ... A unique integer value identifying this asset type

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "asset_type",
                    "id": "1",
                    "attributes": {
                        "name": "Edificios y otras construcciones",
                        "porcentaje": "3.00"
                    },
                    "relationships": {
                        "cuenta_activo": {
                            "data": {
                                "type": "account",
                                "id": "181"
                            }
                        },
                        "cuenta_amortizacion": {
                            "data": {
                                "type": "account",
                                "id": "283"
                            }
                        },
                        "cuenta_gasto": {
                            "data": {
                                "type": "account",
                                "id": "1078"
                            }
                        }
                    }
                }
            }
            

# Accounting Periods [/accounting/periods{?page,page_size,fecha_inicio__gte,fecha_inicio__lte,fecha_fin__gte,fecha_fin__lte,active,search,ordering}]
**TO-DO** Descripció Accounting Periods

+ Attributes (Accounting Period)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + fecha_inicio__gte (optional) ... Filter by *dia* *inicio* field using greater or equal comparison.
    
    + fecha_inicio__lte (optional) ... Filter by *dia* *inicio* field using less or equal comparison.
    
    + fecha_fin__gte (optional) ... Filter by *dia* *fin* field using greater or equal comparison.
    
    + fecha_fin__lte (optional) ... Filter by *dia* *fin* field using less or equal comparison.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
    + active (optional) ... Filter the active periods
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/periods?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/periods?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "accounting_period",
                            "id": "28",
                            "attributes": {
                                "name": "C2017",
                                "dia_inicio": "31-12-2017",
                                "dia_fin": "31-12-2017",
                                "limite_domiciliacion": null,
                                "limite_presentacion": null,
                                "especial": true,
                                "duracion_periodos": 3,
                                "cerrado": false
                            },
                            "relationships": {
                                "anyo_fiscal": {
                                    "data": {
                                        "type": "fiscal_year",
                                        "id": "2"
                                    }
                                }
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":1
                        }
                    }
                }


## Retrive [GET /accounting/periods/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this period

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "accounting_period",
                    "id": "1",
                    "attributes": {
                        "name": "1M2016",
                        "dia_inicio": "01-01-2016",
                        "dia_fin": "31-01-2016",
                        "limite_domiciliacion": "15-02-2016",
                        "limite_presentacion": "20-02-2016",
                        "especial": false,
                        "duracion_periodos": 1,
                        "cerrado": false
                    },
                    "relationships": {
                        "anyo_fiscal": {
                            "data": {
                                "type": "fiscal_year",
                                "id": "1"
                            }
                        }
                    }
                }
            }
            

# Fiscal Years [/accounting/fiscal_years{?page,page_size,search,ordering}]
**TO-DO** Descripció Fiscal Years

+ Attributes (Fiscal Year)

## List [GET]
+ Parameters
    + page (number, optional) - A page number within the paginated result set.
        + Default: `1`
    + page_size (number, optional) - Number of results to return per page.
        + Default: `10`
    + search (optional) - A search term.
    + ordering (optional) - Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links":{
                       "first":"https://api.txerpa.com/v1/accounting/fiscal_years?page=1",
                       "last":"https://api.txerpa.com/v1/accounting/fiscal_years?page=1",
                       "next":null,
                       "prev":null
                    },
                    "data":[
                        {
                            "type": "fiscal_year",
                            "id": "1",
                            "attributes": {
                                "name": "2016",
                                "anyo": 2016
                            }
                        },
                        {
                            "type": "fiscal_year",
                            "id": "2",
                            "attributes": {
                                "name": "2017",
                                "anyo": 2017
                            }
                        }
                    ],
                    "meta":{
                        "pagination":{
                            "page":1,
                            "pages":1,
                            "count":2
                        }
                    }
                }

## Retrive [GET /accounting/fiscal_years/{id}]

+ Parameters
    + id (number) ... A unique integer value identifying this fiscal year

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "fiscal_year",
                    "id": "1",
                    "attributes": {
                        "name": "2016",
                        "anyo": 2016
                    }
                }
            }
            
# Reports [/accounting/reports]
**TO-DO** Descripció Reports

## Balance [GET /accounting/reports/balance{?dia_inicio,dia_fin,abreviada}]

+ Parameters
    + dia_inicio (optional) - Report start date.
        + Default: `today`
    + dia_fin (optional) - Report end date.
        + Default: `first day of year`
    + abreviada (boolean, optional) - Indicates if get summarized version of report.
        + Default: `false`
    
    
+ Request
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.ms-excel)



## Profit and Loss [GET /accounting/reports/profitloss{?dia_inicio,dia_fin,abreviada}]

+ Parameters
    + dia_inicio (optional) - Report start date.
        + Default: `today`
    + dia_fin (optional) - Report end date.
        + Default: `first day of year`
    + abreviada (boolean, optional) - Indicates if get summarized version of report.
        + Default: `false`
        
+ Request
    
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.ms-excel)



## Sums and Balances [GET /accounting/reports/sumbalances{?dia_inicio,dia_fin,formato,cuentas,todos,digitos}]

+ Parameters
    + dia_inicio (optional) - Report start date.
        + Default: `today`
    + dia_fin (optional) - Report end date.
        + Default: `first day of year`
    + formato (enum[string], optional)
        + Default: `xlsx`
        + Members
            + `xlsx`
            + `csv`
    + cuentas (optional) - Accounts `id` to be included.
    + todos (boolean, optional) - Get empty sections too.
        + Default: `false`
    + digitos (number, optional) - Group accounts by n first digits. **Max**: `4`. **Min**: `1`
        
+ Request XLSX Report
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.openxmlformats-officedocument.spreadsheetml.sheet)

+ Request CSV Report

    + Headers

            Accept: text/csv
            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (text/csv)


# Group Analytical Accounting
**TO-DO** Descripció Analytical Accounting API

# Analytical Accounts [/analytical_accounts{?page,page_size,dimension,search,ordering}]

**TO-DO** Descripció Analytical Accounts

+ Attributes (Analytical Account)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.
    
    + page_size (number, optional) ... Number of results to return per page.

    + dimension (optional) ... Filter by `dimension` field using equal comparison.
    
    + search (optional) ... A search term.
      
    + ordering (optional) ... Which field to use when ordering the results.
        
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                    "links": {
                        "first": "https://api.txerpa.com/v1/analytical_accounts?page=1",
                        "last": "https://api.txerpa.com/v1/analytical_accounts?page=1",
                        "next": null,
                        "prev": null
                    },
                    "data": [
                        {
                            "type": "analytical_account",
                            "id": "2",
                            "attributes": {
                                "dimension": "Country",
                                "name": "Spain",
                                "code": "C1",
                                "description": "Spain country dimension account"
                            }
                        },
                        {
                            "type": "analytical_account",
                            "id": "3",
                            "attributes": {
                                "dimension": "Country",
                                "name": "Italy",
                                "code": "C2",
                                "description": "Italy country dimension account"
                            }
                        }
                    ],
                    "meta": {
                        "pagination": {
                            "page": 1,
                            "pages": 1,
                            "count": 2
                        }
                    }
                }


## Retrive [GET /analytical_accounts/{id}]

+ Parameters
    + id (required, number) ... A unique integer value identifying this analytical account

+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
            {
                "data": {
                    "type": "analytical_account",
                    "id": "2",
                    "attributes": {
                        "dimension": "Country",
                        "name": "Spain",
                        "code": "C1",
                        "description": "Spain country dimension account"
                    }
                }
            }
            

# Analytical Account Lines [/analytical_accounts/{account_id}/lines{?page,page_size,search,ordering}]
**TO-DO** Descripció Analytical Lines

+ Parameters
    + account_id (required, number) ... A unique integer value identifying this analytical account line parent
    
+ Attributes (Analytical Line)

## List [GET]
+ Parameters
    + page (number, optional) ... A page number within the paginated result set.

    + page_size (number, optional) ... Number of results to return per page.
    
    + search (optional) ... A search term.

    + ordering (optional) ... Which field to use when ordering the results.
    
+ Request (application/vnd.api+json)
    + Headers

            Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwib3JpZ19pYXQiOjE0OTI3ODY5NDMsInVzZXJfaWQiOjEsImVtYWlsIjoiYWRtaW5AdHhlcnBhLmNvbSIsImV4cCI6MTQ5Mjc4NzI0M30.OquvDQJ9usOtmloXK0XNrjvdFijWbAhDglorQENp2G0

+ Response 200 (application/vnd.api+json)
    + Body
    
                {
                   "links": {
                       "first": "https://api.txerpa.com/v1/analytical_accounts/1/lines?page=1",
                       "last": "https://api.txerpa.com/v1/analytical_accounts/1/lines?page=1",
                       "next": null,
                       "prev": null
                    },
                    "data": [
                        {
                            "type": "analytical_account_line",
                            "id": "2",
                            "attributes": {
                                "ratio": "0.50",
                                "type": "TE"
                            },
                            "relationships": {
                                "analyzable_object": {
                                    "data": {
                                        "type": "billing_serie",
                                        "id": "43"
                                    }
                                },
                                "analytical_account": {
                                    "data": {
                                        "type": "analytical_account",
                                        "id": "3"
                                    }
                                }
                            }
                        }
                    ],
                    "meta": {
                        "pagination": {
                            "page": 1,
                            "pages": 1,
[...]
